@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #222222; /*  darker black  */
		--secondary-background: #292929; /*  lighter black */
		--foreground: #221f1d;
		--card: #ffffff;
		--card-foreground: #221f1d;
		--popover: #ffffff;
		--popover-foreground: #221f1d;
		--primary: #ff0060;
		--primary-foreground: #fdfcf9;
		--secondary: #f3f1eb;
		--secondary-foreground: #dbdbdb;
		--muted: #b8b8b8;
		--muted-foreground: #716c69;
		--accent: #ff7d05;
		--accent-foreground: #f3f1eb;
		--destructive: #ff2d4d;
		--destructive-foreground: #fdfcf9;
		--border: #e0e0e0;
		--input: #e0e0e0;
		--ring: #ff7d05;
		--radius: 0.5rem;
	}

	.dark {
		--background: #222222; /*  darker black  */
		--secondary-background: #292929; /*  lighter black */
		--foreground: #221f1d;
		--card: #ffffff;
		--card-foreground: #221f1d;
		--popover: #ffffff;
		--popover-foreground: #221f1d;
		--primary: #ff0060;
		--primary-foreground: #fdfcf9;
		--secondary: #f3f1eb;
		--secondary-foreground: #3b2e28;
		--muted: #f3f1eb;
		--muted-foreground: #716c69;
		--accent: #ff7d05;
		--accent-foreground: #f3f1eb;
		--destructive: #ff2d4d;
		--destructive-foreground: #fdfcf9;
		--border: #e0e0e0;
		--input: #e0e0e0;
		--ring: #ff0060;
		--radius: 0.5rem;
	}
}

@font-face {
	font-family: "jockeyOne";
	src: url("../../public/fonts/JockeyOne-Regular.ttf");
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.swiper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
}

.swiper-slide img {
	display: block;
	width: 100%;
}
